magpurify==2.1.2
CoverM==0.7.0
Bigscape==1.1.5
numpy==1.26.4
pandas==2.2.2
scikit-image==0.24.0
scikit-learn==1.5.1
seaborn==0.13.2
dplyr==1.1.4
readxl==1.4.5
pheatmap==1.0.13
RColorBrewer==1.1-3
gtable==0.3.6
tidyselect==1.2.1